.thisbody2 {
	
	background-size: cover;
  	background-repeat: no-repeat;
	background-attachment: fixed; 
	overflow: hidden;
	color: black;

}
.thispos {
	
}
.thismain2 {
	width:100%; 
	
}
.thiscardd {
	margin-top: 0vh;
	color: black;
}
.thisimg2 {
	height: 180px;
	width:100%;"
}