{% load static %}
body {
      
      font-family: Arial;
      font-weight: 5em;

    }

    .btn{
       color: black;
      font-size: 2em;
      padding: 35px 30px;
      background: #ff964f;
      border: 2px solid black;
      border-radius: 10px;
     

    }
    .btn:hover {
      background: #ff964f;
    }

    p, h3 {
      color: white;
      font-weight: 800;
      letter-spacing: 2px;
      font-family: Arial, cursive;
      transform: scale(1.1);
      display: relative;
      text-shadow: 4px 4px black;

    }
