      .div {
        display: flex; 
        position: static; 
        justify-content: center; 
        align-items: center; 
        padding: 35px 0; 
        box-shadow:1px 1px 5px black;
        margin-bottom:0px;
       
       
        }
        .span {
         
          float:left;
          margin-left:10px;
        }
        .bold {
          letter-spacing: 3px;
          

        }
        .bold {
          font-size:20px;

        }
        .main-order {
            margin-top:80px;
        }
        .span {
            font-size:14px;
        }
        